
/* all html content (body) */
.container{
    max-width: 1000px;
    font: 13px Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

/* head + logo */
header, .logo{
    max-height: 120px;
    background-color: #210439;
    position: relative;
    

    color: white;
}

.head{
    display: flex;
    flex-direction: column;
}

.head h1{
    margin-left: 500px;
}

.head p{
    margin: 0 0 0 540px
}

.head img{
    margin-top: -82px;
}

/* menu settings */
.section-menu {
    max-height: 50px;
}

.section-menu ul  {
    font-size: 130%;
    color: white;
    font-weight: bold;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}
.section-menu li{
    list-style: none;
    padding: 10px 20px;
    background-color: #9276ab;

    margin-right: 2px ;
    color: white;
}


/* implement img pattern */
.section-img-pattern {
    /* imagen de fondo de un archivo de imagen */
    background-image: url("img/pattern.jpg");
    
    /* Establecer la propiedad background-size para controlar el tamaño de la imagen */
    
    background-size:auto;

    height: 100px;
    padding: 0;
    /* Otra opción puede ser "contain" */

    /* Establecer el color de fondo como respaldo si la imagen no se carga o no se muestra completamente */
    background-color: #dcc89c; /* Un color de fondo de respaldo */
}


/* section img computer */
.section-img img{
    height: 300px;
    width:100%;

    object-fit: cover;
    margin-bottom: -3px;
}

/* section The Grades */
.section-grades{
    background-color: #dcdcdc;
    height: 250px;
}

.section-grades table{
    border-collapse: collapse;
    width: 450px;
    margin: 15px 15px
}

.section-grades div{
    display: flex;
    justify-content: center;
}

.section-grades table thead {
    background-color: #704C8F;
    border-bottom: 5px solid black;
}
.section-grades table tbody{
    border: 2px solid #9A9A9A;  
    text-align: center;
}

.section-grades th, .section-grades td { 
    padding: 7px 11px;
}
.section-grades tbody tr { 
    border-bottom: 1px solid #9A9A9A; 
} 
.section-grades tbody tr:nth-of-type(odd) { 
    background-color: #808080; 
} 

.section-grades caption {
    font-weight: bold;
    text-decoration: underline;
    margin: 14px ;
}



/* section table on language of programing */
.section-table-language table{
    height: 300px;
    width: 100%;
    background-color: white;
    font-size: 13px;
    margin: 0;
    border-spacing: 0;
}

.section-table-language tbody img{
    height: 240px;
    width: auto;
    padding-top: 5px;
    opacity: 0.7; 
}

.section-table-language tbody td{
    /* padding: 10px 10px; */
    text-align: center;
}

.print-line{
    border-left: 2px solid #AFAFAF;
}
.section-table-language tbody th{
    box-shadow: inset -2px 0 0 #AFAFAF;
}

/* separate the section */
hr {
    border:1px dashed;
    margin: 0;    
}
.solid-line{
    border:1px solid;
    margin: 0;    
}


/* footer */
footer{
    background-color: #210439;
    color: white;
    height: 100px;
    margin: 0;
}

.order-text{

    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    
    max-width: 100%;
    height: 100%;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 5px;
}
footer p{
    padding: 5px 5px;
    
    margin: 0;
}
