body{
    background-color: rgb(250, 250, 200);
    font-family: "Akhbar W23 Bold";
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 15rem;
    height: auto;
}

/* poner el id body-content en el centro  */
#body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}

/* underline text */
.underline_footer{
    text-decoration: underline;
}